.ig-article p {
    margin: 10px 0px;
    text-indent: 2rem;
    text-align: justify;
}

/* Progress bar */
#progress-bar {
    --scrollAmount: 0%;

    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    width: var(--scrollAmount);
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
}